<% provide(:title, 'Home') %>
<div row>
  <div class="small-11 small-centered column">
    <h2>Listing posts</h2>
    <%= link_to 'New Post', new_post_path %>
    <table>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td>[<%= link_to 'Show', post %>]</td>
          <td>[<%= link_to 'Edit', edit_post_path(post) %>]</td>
          <td>[<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
        </tr>
        <hr>
        <% end %>
      </tbody>
    </div>
  </div>
