<% provide(:title, 'Home') %>
<div row>
  <div class="small-11 small-centered column">
    <h2>Listing posts</h2>
    <%= link_to 'New Post', new_post_path %>

    <% @posts.each do |post| %>
    <h4><%= post.title %></h4>
    <p>
      <%= post.content %>
      [<%= link_to 'Show', post %>]
      [<%= link_to 'Edit', edit_post_path(post) %>]
      [<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>]
    </p>
    <hr>
    <% end %>
  </div>
</div>
