<% provide(:title, 'Home') %>
<div row>
  <div class="small-11 small-centered column">
    <h2>Listing posts</h2>
    <% if current_user %>
    <%= link_to 'New Post', new_post_path %>
    <% end %>

    <% @posts.each do |post| %>
    <table>
      <tr>
        <% if current_user && policy(post).update? %>
        <td>
          (<%= post.published? ? "Published" : "Unpublished" %>)
        </td>
        <% end %>
      </tr>




<%# if policy(post).update? %>

<%#= policy(post).update? && post.published? ? post.title : "" %>


<%# if policy(post).update? %>
<%#= post.title %>
<%# else %>
<%#= policy(post).published? ? post.title : "" %>
<%# end %>


<%#= policy(post).update? && post.published? ? post.title : "" %>




      <tr id='<%= dom_id(post) %>'>

        <td id="post_title"><%= post.title %></td>
        <td><%= link_to "Show", post %></td>

          <% if policy(post).update? %>
        <td><%= link_to "Edit", edit_post_path(post) %></td>
          <% end %>

          <% if policy(post).destroy? %>
        <td id="<%= post.id %>"><%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" } %></td>
          <% end %>
      </tr>
      <tr>
        <td><%= post.content %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>


