<% provide(:title, 'My Posts') %>
<div row>
  <div class="small-12 small-centered column">
    <h3>My Posts <small>(pub: <%= @pub %>, unpub: <%= @unpub %>)</small></h3>
    <% if current_user %>
    <%# if policy(@posts).create? %>
    <h4><small>Signed in as: <%= current_user.email %> [ <%= current_user.role %> ROLE ]</small></h4><br>
    [<%= link_to 'New Post', new_post_path %>]<br><br>
    <% else %>
    Not signed in
    <% end %>

    <% @posts.each do |post| %>
    <table>

      <tr id='<%= dom_id(post) %>'>
        <td id="post_title"><%= post.title %>

          <%# if current_user && policy(post).update? %>
          <span class="round secondary label"> <%= post.published? ? "Published" : "Unpublished" %></span>
          <%# end %>
        </td>
        <td><%= link_to "Show", post %></td>

        <% if policy(post).update? %>
        <td><%= link_to "Edit", edit_post_path(post) %></td>
        <% end %>

        <% if policy(post).destroy? %>
        <td id="<%= post.id %>"><%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= post.content %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
