<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "blogfolio" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">jasonwritescode</h1>
        </section>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <!-- <li><label>Home</label></li> -->
          <li><a href='<%= root_path %>'>Home</a></li>
          <!-- <li><label>Posts</label></li> -->
          <li><a href='<%= posts_path %>'>Posts</a></li>
          ...
        </ul>
      </aside>

      <section class="main-section">
        <!-- content goes here -->
        <%= yield %>
      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>

</body>
</html>
